*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  color: #333;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: .05em;
  margin: auto;
  margin-top: 50px;
  width: 376px;
}

/* type styling */

h1 {
  font-weight: 500;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}


/* header styling */

header {
  background-color: #FFAD0D;
  background-image: url("../images/map.png");
  color: #ffffff;
  width: 376px;
  height: 200px;
  opacity: .95;
  }

.status-bar {
  padding: 4px 0px 0px 0px;
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chevron-back {
  padding: 20px 0px 0px 20px;
  float: left;
}

.bus-station {
  padding: 4px 0px 0px 100px;
  text-align: center;
  float: left;
}

.more {
  padding: 20px 34px 0px 0px;
  float: right;
}

.station {
  padding: 55px 0px 0px 20px;
  text-align: left;
}

.star-favorite {
  padding: 0px 0px 0px 0px;
  float: right;
}

.id {
  padding: 0px 0px 0px 20px;
}


/* schedule styling */

.schedule {
  background-color: #ffffff;
  padding: 0px 0px 30px 0px;
  width: 376px;
  float:left;
}

.direction {
  padding: 0px 0px 0px 0px;
  float:left;
}

.bus {
  padding: 0px 0px 0px 0px;
  height: 65px;
  border-bottom: .75px solid #BDBDBD;
  float:left;
}


.number {
  border-radius: 12px;
  height: 30px;
  width: 55px;
  background-color: #FFAD0D;
  color: #ffffff;
  text-align: center;
  padding: 0px 0px 0px 0px;
  float:left;
}

.destination {
  padding: 0px 0px 0px 0px;
  text-align: left;
  float:left;
}

.time {
    padding: 0px 0px 0px 0px;
    float:right;
}

.forward {
    padding: 0px 0px 0px 0px;
    float:right;
}
