*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  color: #333;
  font-family: "Montserrat", Helvetica, sans-serif;
  letter-spacing: .05em;
  margin: auto;
  margin-top: 50px;
  width: 376px;
}

/* type styling */

h1 {
  font-weight: 500;
  font-size: 24px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-weight: 400;
  font-size: 18px;
}

h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}


/* header styling */

header {
  background-color: #FFAD0D;
  background-image: url("../images/map.png");
  color: #ffffff;
  width: 376px;
  height: 200px;
  opacity: .95;

  }

.status-bar {
  padding: 4px 0px 0px 0px;
  width: 97%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.map{
  padding: 0px 20px 0px 20px;
}

.chevron-back {
  padding: 20px 0px 0px 0px;
  float: left;
}

.bus-station {
  padding: 4px 0px 0px 100px;
  text-align: center;
  float: left;
}

.more {
  padding: 20px 10px 0px 0px;
  float: right;
}

.station {
  padding: 40px 0px 0px 0px;
  width: 93%;
  text-align: left;
  float: left;
}

.star-favorite {
  padding: 40px 0px 0px 0px;
  width: 7%;
  float: left;
}

.id {
  padding: 10px 0px 0px 0px;
  clear:both;
}


/* schedule styling */

.schedule {
  background-color: #ffffff;
  padding: 0px 0px 30px 0px;
}

.buslist{
  padding: 0px 20px 0px 20px;
}

.direction {
  width: 160px;
  height: 54px;
  padding: 28px 0px 0px 0px;
  float:left;
}

.bus {
  height: 64px;
  padding: 14px 0px 0px 0px;
  border-bottom: .75px solid #BDBDBD;
  clear:both;
}

.bus:after {
  content: "";
  display: table;
  clear: both;
}

.bus ul{
  padding: 0px 0px 0px 0px;
}

.number {
  width: 20%;
  float:left;
}

.number h2 {
  border-radius: 12px;
  width: 55px;
  height: 30px;
  padding: 6px 0px 0px 0px;
  background-color: #FFAD0D;
  color: #ffffff;
  text-align: center;
}

.destination {
  width: 50%;
  padding: 2px 0px 0px 0px;
  text-align:left;
  float:left;
}

.time {
    width: 25%;
    text-align: right;
    float:left;
}

.forward {
    width: 5%;
    padding: 6px 0px 0px 0px;
    text-align: right;
    float:left;
}


ul li {
  list-style-type: none;
  display: block;
}
